<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />
/-->

<bean id="dataSourceOracle"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    p:driverClassName="oracle.jdbc.OracleDriver"
    p:url="jdbc:oracle:thin:@LOCALHOST:1521:XE"
    p:username="system"
    p:password="oracle" />

    <bean id="dataSourceMySql"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="com.mysql.cj.jdbc.Driver"
        p:url="jdbc:mysql://localhost:3306/hospital"
        p:username="root" p:password="mysql"/>

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

    <bean id="repositoryenfermos" class="repositories.RepositoryEnfermos">
        <constructor-arg ref="dataSourceMySql"/>
    </bean>

    <bean id="repositoryhospital" class="repositories.RepositoryHospital">
        <constructor-arg ref="dataSourceMySql"/>
    </bean>

    <bean id="repositorydepartamentos" class="repositories.RepositoryDepartamentosContainer">
        <constructor-arg ref="dataSourceOracle"/>
    </bean>

    <bean id="tenista" class="models.Tenista"
          p:nombre="Roger Federer"
          p:palmares="21 Grand Slams"
          p:imagen="https://www.elespectador.com/resizer/2cp8dPQbllvlGfmBdYyVFKX5HZk=/657x0/cloudfront-us-east-1.images.arcpublishing.com/elespectador/TZSU6QCAGVE6DMQBWTXTQIO7LA.jpg"/>

    <bean id="rafa" class="models.Tenista"
          p:nombre="Rafa Nadal"
          p:palmares="20 Grand Slams"
          p:imagen="https://images.mediotiempo.com/cr2JaCNT9BGloMVLfILw1MosSUE=/958x596/uploads/media/2020/07/07/rafael-nadal-presente-masters-madrid.jpg"/>

    <bean id="grandslam" class="models.GrandSlam"
          p:descripcion="Wimbledon 2016">
        <property name="tenista" ref="tenista"/>
    </bean>
    
    <bean id="car" class="models.Coche"
        p:marca="Lamborghini"
        p:modelo="Countach"
        p:velocidadMaxima="340">
    </bean>

    <bean id="kit" class="models.Coche"
        p:marca="Pontiac"
        p:modelo="Firebird"
        p:velocidadMaxima="540"/>

    <bean id="driver" class="models.Conductor"
          p:nombre="Michael Knight">
        <constructor-arg ref="car"/>
        <property name="coche" ref="kit"/>
    </bean>
    
</beans>
